<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.helpdesk.faveo.pro">

    <uses-sdk tools:overrideLibrary="io.codetail.view" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />

    <application
        android:name=".FaveoApplication"
        android:allowBackup="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        tools:replace="allowBackup, label">

        <!--android:hardwareAccelerated="false"-->
        <!--android:largeHeap="true"-->

        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="${applicationId}.provider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/nnf_provider_paths" /> -->
        <!-- </provider> -->
        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="@string/file_provider_authority" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/file_provider_paths" /> -->
        <!-- </provider> -->
        <!-- <activity -->
        <!-- android:name=".SplashScreen" -->
        <!-- android:label="@string/app_name" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".frontend.activities.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".frontend.activities.ClientDetailActivity"
            android:label="@string/title_activity_client_profile"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frontend.activities.TicketSaveActivity"
            android:label="@string/title_activity_save"
            android:theme="@style/MyMaterialTheme"
            />
        <activity
            android:name=".frontend.activities.SplashActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".frontend.activities.TicketDetailActivity"
            android:label="@string/title_activity_ticket_detail"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frontend.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".frontend.receivers.InternetReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="firebase_crash_collection_enabled"
            android:value="false" />
        <!--<meta-data-->
        <!--android:name="io.fabric.ApiKey"-->
        <!--android:value="3d31c3fca25cb228d17bfa05856d933d97e90db1" />-->

        <service android:name=".frontend.services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".frontend.services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- <service -->
        <!-- android:name=".CustomService" -->
        <!-- android:exported="true" -->
        <!-- android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <activity
            android:name=".frontend.activities.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:launchMode="singleTask" />
        <activity
            android:name=".frontend.activities.CreateTicketActivity"
            android:label="@string/title_activity_create_ticket"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            />
        <activity
            android:name=".frontend.activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:parentActivityName=".frontend.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemes">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".frontend.MySuggestionProvider"
            android:authorities="co.helpdesk.faveo.pro.frontend.MySuggestionProvider" />
        <activity
            android:name=".frontend.activities.RegisterUser"
            android:label="@string/title_activity_register_user"
            android:theme="@style/MyMaterialTheme"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".frontend.activities.CollaboratorAdd"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask"
            />
        <activity android:name=".frontend.activities.TicketFilter" />
        <activity android:name=".frontend.activities.EditCustomer" />
        <activity
            android:name=".frontend.activities.MultiAssigningActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".frontend.activities.HelpSection" />
        <activity android:name=".frontend.activities.LogIn" />
        <activity android:name=".frontend.activities.SettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".frontend.activities.HowToLogIn"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".frontend.activities.TicketsRelated"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".frontend.activities.Dashboard"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".frontend.activities.TicketList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".frontend.activities.TicketViewAndEdit"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".frontend.activities.CustomersRelated"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".frontend.activities.OtherFeatures"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".frontend.activities.ViewClient"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".frontend.activities.CustomerFiltration"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".frontend.activities.SelectingMultipleTickets"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".frontend.activities.ChangingStatus"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".frontend.activities.MultipleTicketAssign"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".frontend.activities.MultipleTicketMerge"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".frontend.activities.FeedBackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".frontend.activities.GivingFeedback"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".frontend.activities.TicketReplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask"></activity>
        <activity android:name=".frontend.activities.InternalNoteActivity" />
        <activity android:name=".frontend.activities.ShowingAttachment" />
        <activity android:name=".frontend.activities.HelpingActivity" />

    </application>

</manifest>